<section>
    <div>
      <%= link_to "Home", pages_home_path %>
      <%= link_to "About", pages_about_path %>
      <%= link_to "Products", products_path %>
      <%= image_tag "cart-icon.svg", alt: "Shopping Cart" %>
    </div>
</section>
