<h2>Cart</h2>
  <div class="products-cart-list">
    <% @products.each do |product| %>
      <div>
        <%= render 'shared/product_card', product: product %>
      </div>
    <% end %>
  </div>
</div>