<h2>Cart</h2>
<div class="products-list">
  <% @products.each do |product| %>
    <div>
      <%= render 'shared/product_card', product: product %>
      <%= render 'shared/quantity_form', product: product, cart: @cart %>
    </div>
  <% end %>
</div>