  body {
    background: linear-gradient(135deg, #f9f8f7 0%, #e8e6e3 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0px;
  }
  h1 {
    padding-left: 1%;
    font-family: "StackSansHeadline", sans-serif;
    color: #e8e6e3
  }
  h2{
    font-family: "StackSansHeadline", sans-serif;
    color: #1f1f1f;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(120deg, #1f1f1f 0%, #3d3c3c 100%);
    padding-bottom: 2%;
  }
  .nav-container div a {
    text-decoration: none;
    font-family: "StackSansHeadline", sans-serif;
  }
  .nav-container div a:hover {
    transition: 0.2s ease;
    color: #8f8f8f
  }
  .nav-container div{
    display: flex;
    flex-direction: row;
  }
  .nav-container section div a {
    padding-left: 2%;
    font-size: 1.25em;
    color: #e8e6e3
  }
  .nav-container section div a:last-child,
  .nav-container section div a:nth-last-child(2) {
    padding-right: 1%;
  }
  .nav-container section div img {
    filter: invert(1);
    max-width: 40px;
    max-height: 30px;
    margin-left: auto;
    padding-right: 1%;
  }
  .nav-title-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .login-bar,
  .logout-bar button{
    margin-left: auto;
  }

  .login-bar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .logout-bar button {
    padding: 0.5rem 1rem;
  }
  a {
    color: inherit;
  }
  a:visited {
    color: inherit;
  }
  a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
  .sub-title h2 {
    margin-left: 4%;
  }
  .products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4%;
    padding-left: 4%;
  }
  .product-card {
    background: linear-gradient(135deg, #818080 0%, #e8e6e3 100%);
    width: 200px;
    height: 375px;
    border: 1px solid #818080;
    border-radius: 8px;
  }
  .product-info p {
    display: flex;
    justify-content: center;
    font-family: "StackSansHeadline", sans-serif;
  }
  .product-info a {
    text-decoration: none;
    font-family: "StackSansHeadline", sans-serif;
  }
  .product-image {
    display: flex;
    justify-content: center;
  }
  .product-image img {
    max-width: 180px;
    height: auto;
    border-radius: 8px;
  }
  .placeholder-image {
    width: 180px;
    height: 180px;
    background: #e8e6e3;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
  }
  .detail-image img{
    max-height: 50%;
    max-width: 50%;
  }
  .main-container{
    display: flex;
    flex-direction: row;
  }
  .filter {
    padding: 20px;
  }

  .filter h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .filter a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #000;
  }

  .filter a:hover {
    transition: 0.2s ease;
    color: #e90a0a;
  }

  .filter a.active {
    font-weight: bold;
  }
  .add-to-cart-icon a {
    max-height: 1%;
    max-width: 1%;
  }
  @font-face {
    font-family: "StackSansHeadline";
    src: url("fonts/StackSansHeadline.ttf") format("truetype");
  }

  .detail-product-image {
  width: 30%;
  height: auto;
  border-radius: 8px;
  padding-top: 5%;
  padding-left: 5%;
  margin: 0 auto;
}

.content {
  padding-left: 2%;
}