<section>
  <div class="product-card">

    <div class="product-info">

      <p><%= link_to product.name, product_path(product) %></p>

      <div class="product-image">
        <% if product.images.attached? %>
          <%= link_to image_tag(product.images.first, alt: product.name), product_path(product) %>
        <% else %>
          <%= link_to product_path(product) do %>
            <div class="placeholder-image">No Image</div>
          <% end %>
        <% end %>
      </div>
      <p><%= link_to "Price: $#{product.price / 100.0}", product_path(product) %></p>
    </div>
  </div>
</section>