<div class="nav-container">
  <%= render 'shared/title_card', title: 'Bunker Boutique' %>
  <%= render 'shared/nav' %>
</div>
<div class="main-container">
  <div class="filter">
    <%= render "products/product_filter" %>
  </div>
  <div class="products">
    <%= render 'products/product_list'%>
  </div>
</div>
