<div class="nav-container">
  <%= render 'shared/title_card', title: 'Bunker Boutique' %>
  <%= render 'shared/nav' %>
</div>
<div class="product-detail-container">
  <%= render 'products/product_detail' %>
</div>